/* General Styles */
.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1);
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #121212; /* Dark background */
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid linear-gradient(to right, #663399, #cc0033);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

/* Hero Section */
#hero {
    background: linear-gradient(to bottom, #222, #121212);
    padding: 5rem 2rem;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #cc0033; /* Red accent */
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #663399; /* Indigo accent */
}

/* Products Grid */
#products {
    padding: 3rem 2rem;
}

#products h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #1e1e1e;
    background: linear-gradient(to top, #1e1e1e 90%, #de0830 calc(90% - 1em));
    border-radius: 8px;
    padding: 0;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 320px; /*  Adiciona um limite de largura máxima para o card */
}

.product-card > div {
    padding: 0 1.5rem  1.5rem  1.5rem;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    max-width: 320px; /*  Adiciona um limite de largura máxima para o card */
}

.product-card h3 {
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
    margin: 0.7rem 0.5rem;
}

.purchase-options {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.uas-button,
.cgtrader-button,
.gumroad-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.uas-button {
    background-color: #663399; /* Indigo */
}

.cgtrader-button {
    background-color: #cc0033; /* Red */
}

.gumroad-button {
    background-color: #95276b; /* Dark Pink */
}

.uas-button:hover {
    background-color: #800080; /* Darker Indigo */
}

.cgtrader-button:hover {
    background-color: #8b0000; /* Darker Red */
}

.gumroad-button:hover {
    background-color: #555; /* Lighter Gray */
}

/* Footer */
footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid linear-gradient(to right, #663399, #cc0033);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        margin-top: 1rem;
    }

    nav a {
        margin-left: 0;
        margin-right: 1rem;
    }
}

@media (max-width: 576px) {
    .product-card {
        max-width: fit-content;
    }
}
